body {
  position: relative;
  margin-top: 81px;
}
#myCarousel, #contact, #first-featurette, #second-featurette, #third-featurette {
padding-top:91px;
margin-top:-81px;
}

/*NAVIGATION TOP */

.navbar {
  /* "Visions of Grandeur" Source: https://uigradients.com/#VisionsofGrandeur*/
  background: #000046;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-toggle {
  margin-top: 18px;
}

#brand {
  font-family: 'Bowlby One SC', cursive;
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: hsl(75, 100%, 95%);
}

#navbar-text li a {
  color: hsl(75, 100%, 95%);
}

.navbar li {
  padding-top: 25px;
}

.navbar-a {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: hsl(80, 100%, 78%);
  border-bottom: hsla(0, 0%, 20%, 0) 6px solid;
}

a.navbar-a:hover {
  border-bottom: #4a4a4a 6px solid;
  background-color: inherit;
}

a.navbar-a:active{
  border-bottom: #4a4a4a 6px solid;
  background-color: inherit;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: hsla(0, 0%, 20%, 0);
}
.dropdown {
  padding-right: 20px;
}

.dropdown-content {
  color:#333 !important;
}

/*===Carousel==*/


/*Thumbnails made by https://medium.com/@jamesfuthey/simulating-the-creation-of-website-thumbnail-screenshots-using-iframes-7145269891db */

.thumbnail iframe {
  width: 100%;
  min-height: 500px;
}

.thumbnail {
  position: relative;
  -ms-zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail iframe {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.thumbnail-container::before {
  position: absolute;
  left: calc(50% — 16px);
  top: calc(50% — 18px);
  opacity: 0.2;
  display: block;
  -ms-zoom: 2;
  -o-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
}

/*Carousel-Control */

a.left.carousel-control, a.right.carousel-control {
  max-height: 515px;
}

/*===Contact-Area===*/

span.glyphicon.glyphicon-envelope, span.glyphicon.glyphicon-pencil {
  font-size: 120px;
  margin-bottom: 20px;
}

#github {
  width: 100%;
}

#codePen {
  width: 100%;
}

#freeCodeCamp {
  width: 100%;
}

#codeSchool {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

button.btn.btn-primary {
  width: 50%;
  cursor:pointer;
}

.contact-divider {
  display: none;
}
/*===MEDIAQUERIES===*/

@media only screen and (max-width: 1200px) {
  span.glyphicon.glyphicon-envelope, span.glyphicon.glyphicon-pencil {
    font-size: 70px;
  }

  .contact-divider {
    display:block;
  }

  @media only screen and (max-width: 550px) {
    span.glyphicon.glyphicon-envelope, span.glyphicon.glyphicon-pencil {
      font-size: 45px;
  /*--
    Ich würde die Glyphicons gerne links neben der h2 haben,
    aber float breaks die contact-images...
      float: left; --*/
    }
  }
